header{
    padding: 50px 30px;
    background-image: url('../img/bg_main.jpeg');
    background-position-y: center;
    background-size: cover;
    color: #fff;
    text-shadow: 4px 4px 3px #000 ;
}

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
    font-size: small;
}